<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="includes/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header id="admin-header">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="navbar-header">

                    </div>
                    <form method="GET" action="/search">
                        <div class="col-xs-3">
                            <div id="imaginary_container"> 
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control input-lg"  placeholder="Search" >
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a id="add-button" type="button" class="button btn btn-success " >Add New Doc</a>
                   <a id="logoff-button" type="button" class="button btn btn-info" href="index.html">LogOff</a>
                </div>
            </nav>
        </header>
        <main id="search-main">
            <div id="resultStats">
                About 75,400,000 results<nobr> (0.48 seconds)&nbsp;</nobr>
            </div>
            <div class="res">
                <h3> <a href="#">Used Cars for Sale - CarMax</a></h3>
            </div>
            <div class="loc">
                https://www.carmax.com/cars
            </div>
            <div class="explain">
                <span class="st">A <em>car</em> (or automobile) is a wheeled motor vehicle used for transportation. Most definitions of <em>car</em> say they run primarily on roads, seat one to eight people, have four tires, and mainly transport people rather than goods. <em>Cars</em> came into global use during the 20th century, and developed economies depend on them. The year&nbsp;...
                </span>
            </div>
            <div class="edit-delete">
                <button type="button" class="btn btn-info" aria-label="Left Align" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <div class="res">
                <h3> <a href="#">Used Cars for Sale - CarMax</a></h3>
            </div>
            <div class="loc">
                https://www.carmax.com/cars
            </div>
            <div class="explain">
                <span class="st">A <em>car</em> (or automobile) is a wheeled motor vehicle used for transportation. Most definitions of <em>car</em> say they run primarily on roads, seat one to eight people, have four tires, and mainly transport people rather than goods. <em>Cars</em> came into global use during the 20th century, and developed economies depend on them. The year&nbsp;...
                    (or automobile) is a wheeled motor vehicle used for transportation. Most definitions of <em>car</em> say they run primarily on roads, seat one to eight people, have four tires, and mainly transport people rather than goods. <em>Cars</em> came into global use during the 20th century, and developed economies depend on them. The year&nbsp;...
                </span>
            </div>
            <div class="edit-delete">
                <button type="button" class="btn btn-info" aria-label="Left Align" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>



        </main>
    </body>
</html>



