<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Panel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header id="admin-header">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <div class="navbar-header">

                    </div>
                    <form method="GET" action="/search">
                        <div class="col-xs-3">
                            <div id="imaginary_container"> 
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control input-lg" name="query" placeholder="Search" >
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                       <a id="logoff-button" type="button" class="button btn btn-info" href="/logoff">LogOff</a>
                </div>
            </nav>
        </header>
        <main id="search-main">
            <form form class="uploadform" action="/upload" method="POST" enctype="multipart/form-data">
                <h3>Documents Uploader</h3>
                <div class="form-group" style="width: 200px">
                    <label for="pwd">Author:</label>
                    <input type="text" class="form-control" name="author" placeholder="author">
                </div>
                <div class="form-group" style="width: 200px">
                    <label for="pwd">Subject:</label>
                    <input type="text"  class="form-control" name="subject" placeholder="subject">
                </div>
                <div class="form-group">
                    <input type="file" name="file" accept="text/*" multiple><br>
                    <input type="submit" value="upload file" class="btn btn-primary">
                </div>
            </form>
            <div style="display: {{ message }}"><h5 class="message">Upload successful</h5></div>


            <div id="resultStats">
                About {{ len }} results<nobr> &nbsp;</nobr>
            </div>
            {% for doc in data %}
                <div class="doc-result" id="{{ doc[0] }}">
                    <div class="res">
                        <h3> <a target="_blank" href="/documents/{{doc[0]}}">{{ doc[1] }}</a></h3>
                    </div>
                    <div class="loc">
                        {{ doc[5] }}
                    </div>
                    <div class="explain">
                        <span class="st">
                            {{ doc[4] }}
                        </span>
                    </div>
                    <div class="edit-delete">
                        <a href="/delete/{{ doc[0] }}" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </main>
    </body>
</html>



